.project-background {
	background-image: url("../img/panoply-thumbnail.jpg");
	/*background-color: #f8f9fa;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 500px!important;
}


#panoply-web-app {
	/*position: relative;*/
	opacity: 0.4;
	transition: 0.2s;
}

#panoply-web-app:hover {
	/*position: relative;*/
	opacity: 1;
}

@media (min-width: 767px) {
	.project-background {
		background-image: url("../img/panoply-background.jpg");
		background-position: 50% 50%;
		height: 700px!important;
	}
	
}

@media (min-width: 1441px) {
	.project-background {
		height: 900px!important;
	}
}

