#navbar-div {
	/*background-color: rgba(0,0,0,0.2);
	backdrop-filter: blur(100px);*/
}

.nav-header {
	position: fixed;
	/*height: 70px;*/
	width: 100%;
	z-index: 3;
	box-shadow: 0 0.5px 1px #888888;
	/*margin-top: 0;*/
	transition: 0.3s;
}

#navbar-section {
	margin: 0;
	padding-right: 6px;
	padding-left: 6px;
}

.nav-color {
	background-color: transparent!important;
}

.navbar-icon {
	outline: none!important;
	border: none!important;
	margin: 5.5px 0px 5.5px 0px;
	transition: 0.2s;
	transform: scale(1.1);
}
.navbar-icon:hover {
	transform: scale(1.2);
}
.nav-a {
	font-family: "Proxima Bold", sans-serif;
	padding: 10px 0px 10px 0px;
	font-size: 16px;
	transition: 0.2s;
	opacity: 0.5;
}
.nav-a:hover {
	color: #6392cc!important;
	opacity: 1;
}
.nav-h1 {
	font-family: "Proxima Bold", Ariel, sans-serif;
}
.navColor {
	background-color: #dbab45!important;
}
#logo-div {
	width: 40px;
	transition: 0.2s;
	margin: 0 0 0 10px;
}
#logo-div:hover {
	opacity: 0.7;
}
#main-logo {
	width: 100%;
}

.nav-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	/*background-color: white!important;*/
	/*padding: 0!important;*/
}

.current-page {
	text-decoration: underline!important;
	opacity: 1;
}

/*#page-front {
	padding-top: 90px!important;
}*/

.page-wrapper {
	padding-top: 80px!important;
	/*background-color: #f8f9fa;
	position: relative;*/
}

#first-row {
	padding-top: 65px;
}

/*.nav-list a {
	border-bottom: 1px solid;
}*/

.scroll-up {
	transform: translateY(-110%);
}

.scrolling {
	width: 100%;
}

.portfolio-button {
	color: #162a51!important;
	border-color: #162a51!important;
}

.portfolio-button:hover {
	color: white!important;
	background-color: #162a51!important;
}

@media (min-width: 767px) {
	.nav-header {
		height: 75px;
		/*backdrop-filter: blur(6px);*/
		/*background-color: orange;*/
	}

	#navbar-section {
		padding-right: 16px;
		padding-left: 16px;
	}

	#navbarToggleExternalContent {
		display: block;
		flex-grow: 1;
	}
	.nav-list {
		width: 100%;
		height: 100%;
		align-items: center;
		flex-direction: row;
		justify-content: flex-end;
		/*padding: 0!important;*/
		/*text-align: right;*/
	}
	.nav-header {
		width: 100%;
		display: inline-flex;
		box-shadow: 0 0 0;
	}
	.nav-a {
		font-family: "Proxima Bold", sans-serif;
		margin: 0 17px 0 17px;
		padding: 0;
		/*font-size: 17px;*/
	}

	.page-wrapper {
		/*padding-top: 130px!important;*/
	}

	#first-row {
		padding-top: 75px;
	}
}