@font-face {
	font-family: "Proxima Reg";
	src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family: "Proxima Bold";
	src: url("../fonts/Proxima Nova Bold.otf");
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Reg', sans-serif;
	/*font-size: 20px;*/
	background-color: #f8f9fa;
}

a {
	text-decoration: none!important;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 16px;
	line-height: 1.5;
}

.general-row-space {
	margin-top: 20px;
	margin-bottom: 20px;
}

.specific-row-space {
	margin-top: 120px;
	/*margin-bottom: 20px;*/
}

.reorder-row {
	display: flex;
}

.reorder-img {
	order: 2;
}

.reorder-info {
	order: 1;
}

.v-center-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#project-title {
	margin-top: 20px;
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
}

.project-background {
	background-image: url("../img/blot-thumbnail.jpg");
	background-color: #f8f9fa;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #24a1a5;
	height: 500px!important;
}

.topic-h2 {
	margin-bottom: 10px;
}

.subtitle {
	color: grey;
	/*font-style: italic;*/
}

.text {
	flex-direction: column;
	align-items: left;
	display: flex;
	/*justify-content: center;*/
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: orange;*/
	/*line-height: 1.5;*/
}


.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*text-align: center;*/
}

.bold {
	font-family: "Proxima Bold", Ariel, sans-serif;
}

.featured-image {
	width: 100%;
	margin-bottom: 20px;
}

#parking-structure-image {
	position: relative;
}

#view-2 {
	position: absolute;
	opacity: 0;
	transition: 0.2s;
}

#parking-structure-image:hover #view-2 {
	/*transform: scale(1.01);*/
	opacity: 1;
}

@media (min-width: 767px) {
	button {
		display: none;
	}
	a {

	}

	.project-background {
		background-image: url("../img/blot-background.jpg");
		height: 700px!important;
	}

	.reorder-img {
		order: 1;
	}

	.reorder-info {
		order: 2;
	}

/*	#edificio-img {
		order: 1;
	}

	#edificio-info {
		order: 2;
	}*/

	.text {
		align-items: flex-start;
		padding-top: 0;
		padding-bottom: 0;
	}

	.featured-image {
		margin-bottom: 0;
	}
	
}

