#load-social-media-div {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

#social-media {
	display: flex;
	flex-direction: column;
	text-align: center;
	transition: 0.2s;
	gap: 24px;
}

#social-media-logo {
	display: flex;
	justify-content: center;
	gap: 32px;
}

.social-media-icon {
	width: 32px;
	height: 32px
}

.social-media-icon:hover {
	opacity: 0.5;
	transition: 0.2s;
}

.social-media-icon a {
	display: flex;
	align-items: center;
}

.social-media-link {
	width: 100%;
}

#social-media-title {
	font-family: "Proxima Bold", sans-serif;
	font-size: 24px;
	color: #162a51;
}

#social-media-message {
	font-family: "Proxima Reg", sans-serif;
	font-size: 16px;
	margin: 0;
}

#copyright-tag {
	font-size: 16px;
	text-align: center;
	margin: 0;
}