@font-face {
	font-family: "Proxima Thin";
	src: url("../fonts/Proxima Nova Thin.otf");
}

@font-face {
	font-family: "Proxima Reg";
	src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family: "Proxima Bold";
	src: url("../fonts/Proxima Nova Bold.otf");
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Reg', sans-serif;
	background-color: #f8f9fa;
	/*display: flex;
	flex-direction: column;*/
}

.construction-page {
	height: 100%;
}

/*html {
	height: 100%
}*/

a {
	text-decoration: none!important;
}

.bold {
	font-family: "Proxima Bold", Ariel, sans-serif;
}

#design-background {
	background-image: url("../img/design-side-background.png");
	background-color: transparent!important;
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	height: 490px!important;
}

#tech-background {
	/*height: 100%;*/
	background-image: url("../img/tech-side-background.png");
	background-color: transparent!important;
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	height: 500px!important;
	/*filter: blur(5px);*/
	/*background-color: white;*/
}

#intro {
	width: 100%;
	/*margin: auto;*/
	/*justify-content: center;*/
}

.category-tag {
	font-family: "Proxima Bold", Ariel, sans-serif;
	color: #6392cc;
	font-size: 30px;
	margin: 0;
}

.category-name {
	font-family: "Proxima Bold", sans-serif;
	font-size: 50px;
	/*padding: 20px 0 20px 0;*/
	/*line-height: 100px;*/
	color: #162a51;
}

#category-intro {
	font-family: "Proxima Thin", sans-serif;
	font-size: 20px;
	/*padding: 20px 0 20px 0;*/
	color: #162a51;
	line-height: 26px;
}

.block {
	margin-top: 6px;
	margin-bottom: 6px;
	padding-right: 10px;
	padding-left: 10px;
}

#projects-row {
	margin-bottom: 100px;
}

.project-div {
	width: 100%;
	height: 100%;
	/*display: flex;
	flex-wrap: wrap;
	align-items: center;*/
	/*width: 100%;
	height: 50px;*/
	/*background-color: orange;*/
	/*margin: 10px 0 10px 0;*/
	position: relative;
	/*display: flex;*/
	/*box-sizing: border-box;*/
	/*transition: 0.2s;*/
	overflow: hidden;
	/*background: rgba(6,18,53,1);*/
	/*border-radius: 10px;*/
}
/*.card-img:hover .label {
	visibility: visible;
	cursor: pointer;
}*/
.label {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	/*align-items: center;*/
	justify-content: flex-end;
	flex-direction: column;
	flex-wrap: wrap;
	/*background-color: rgba(0,0,0,0.7);*/
	 /*box-shadow: 0 0 2px rgba(0,0,0,7);*/
	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
	opacity: 0;
	transform: scale(1.15);
	transition: 0.2s;
	padding: 20px;
	/*text-align: left;*/
}

.label h1 {
	font-family: "Proxima Bold", Ariel, sans-serif;
	font-size: 40px;
}

.label h2 {
	font-family: "Proxima Reg", sans-serif;
	font-size: 17px;
}

.project-div:hover .label {
	cursor: pointer;
	opacity: 1;
	transform: none;
}

.project-div:hover img {
	transform: scale(1.05);
	filter: blur(5px);
}

#project-1 {
	background-color: rgba(255,255,255,0.8);
	color: black;
}
#project-2 {
	background-color: rgba(36,45,62,0.8);
	color: white;
}
#project-3 {
	background-color: rgba(237,158,72,0.8);
	color: white;
}
#project-4 {
	background-color: rgba(36,161,165,0.8);
	color: white;
}
#project-5 {
	background-color: rgba(123,127,222,0.8);
	color: white;
}
#project-6 {
	background-color: rgba(255,234,201,0.8);
	color: black;
}
#project-7 {
	background-color: rgba(127,206,237,0.8);
	color: white;
}
#project-8 {
	background-color: rgba(195,203,212,0.8);
	color: white;
}
#project-9 {
	background-color: rgba(179,176,169,0.8);
	color: white;
}
#project-10 {
	background-color: #D18787;
	color: white;
}

#project-11 {
	background-color: rgba(53,97,177,0.8);
	color: white;
}

.project-thumbnail {
	width: 100%;
	min-height: 100%;
	transition: 0.2s;
}


/*h2:after, .cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
	position: absolute;
}
*/
.page-front {
	/*padding-top: 100px;*/
	height: 100%;
	/*background-color: orange;*/
	display: flex;
	flex-flow: column;
	justify-content: center;
}

#message-col {
	display: flex;
	flex-flow: column;
	/*justify-content: center;*/
	align-items: center;
	/*width: 90%;*/
}

.col-v-center {
	/*height: 100%;*/
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
}

.row-v-20-gap {
	margin-bottom: 20px;
}

#construction-title {
	padding: 0;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 24px;
}

#message-p {
	text-align: center;
	margin-bottom: 32px;
}

#img-1 {
	width: 300px;
	margin-bottom: 24px;
}

#img-2 {
	display: none;
}

/*.construction-img {
	display: none;
}*/

#archived-row {
	margin-bottom: 60px;
}

.archived-block {
	/*background-color: transparent;*/
	margin: 20px 0 20px 0;
}

.archived-div {
	width: 100%;
	/*height: 185px;*/
	/*position: relative;
	overflow: hidden;*/
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	/*background-color: orange;*/
}

.archived-project-thumbnail {
	width: 100px;
	height: 100px;
	border-radius: 15px;
	margin-right: 10px;
}

.archived-label {
	display: flex;
	flex-flow: column;
	justify-content: center;
	/*align-items: center;*/
	/*background-color: orange;*/
	margin: 0 10px 0 10px;
	/*width: 190px;*/
}

.archived-label h1 {
	font-family: "Proxima Bold", Ariel, sans-serif;
	font-size: 28px;
	color: black;
}

.archived-label h2 {
	font-family: "Proxima Reg", sans-serif;
	font-size: 15px;
	color: gray;
}

.direction-img {
	width: 30px;
	transition: 0.2s;
	margin: 0 5px 0 10px;
	opacity: 0.2;
}

.archived-block:hover .direction-img {
	transform: translate(10px, 0);
	opacity: 1;
}


@media (min-width: 767px) {
	button {
		display: none;
	}
	a {

	}
	/*.designerbackground {
		background-position: 60% 50%;
		background-size: 20%;
	}*/

	#design-background {
		background-size: 70%;
		background-position: 110% 100%;
	}

	#tech-background {
		background-size: 70%;
		background-position: 110% 100%;
	}

	/*.hello {
		font-size: 40px!important;
		margin-top: 70px;
	}*/

	#intro {
		width: 400px;
	}

	.category-tag {
		/*font-size: 30px;*/
	}

	.category-name {
		/*font-size: 53px;*/
	}

	#category-intro {
		/*font-size: 24px;*/
	}

	.block {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.label {
		padding: 30px;
	}

	.label h1 {
		font-size: 30px;
	}


	.label h2 {
		/*font-size: 17px;*/
	}

	#message-col {
		align-items: flex-start;
	}

	#message-p {
		text-align: left;
		margin-bottom: 16px;
	}

	#img-1 {
		display: none;
	}

	#img-2 {
		display: block;
		/*margin-top: 30px;*/
	}

	#construction-title {
		text-align: left;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.construction-img {
		/*display: block;
		margin-top: 20px;*/
	}

	.archived-project-thumbnail {
		/*border-radius: 15px;*/
		margin-right: 0;
	}

	.archived-label {
		margin: 0 30px 0 30px;
		/*background-color: orange;*/
		width: 800px;
	}

	.archived-label h1 {
		/*font-size: 32px;*/
	}

	.archived-label h2 {
		font-size: 16px;
	}
}

@media (min-width: 991px) {
	.designerbackground {
		background-position: center;
		/*background-size: 20%;*/

	}

	.label {
		padding: 40px;
	}

	.label h1 {
		font-size: 40px;
		line-height: 1.1;
	}


	.label h2 {
		/*font-size: 17px;*/
	}

	#message-col {
		width: 385px;
	}

	#img-2 {
		/*width: 500px;*/
	}

	.archived-label {
		margin: 0 30px 0 30px;
		width: 880px;
	}

	.archived-label h1 {
		/*font-size: 28px;*/
	}

	.archived-label h2 {
		font-size: 17px;
	}

	.direction-img {
		width: 35px;
	}
}

@media (min-width: 1441px) {
	#design-background {
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: 80% 100%;
		height: 630px!important;
		/*filter: blur(5px);*/
		/*background-color: white;*/
	}

	#tech-background {
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: 80% 100%;
		height: 630px!important;
		/*filter: blur(5px);*/
		/*background-color: white;*/
	}
}