a {
	text-decoration: none!important;
}

h2, h3 {
	margin-bottom: 16px;
}

li {
	/*margin-bottom: 0.3em;*/
}

.project-landing-section {
	padding-top: 104px;
	display: flex;
	flex-flow: column;	
}

.project-background {
	width: 100%;
	/*height: 375px;*/
	aspect-ratio: 16 / 9;
	padding: 0;
	object-fit: cover;
}

.callout-list {
	list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.callout {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
	width: 290px;
}

/*.callout img {
	height: 64px;
	margin-bottom: 16px;
}*/

.callout h3 {
	font-size: 20px;
}

.callout p {
	font-size: 16px;
}

.callout span {
	font-family: 'Proxima Bold', sans-serif;
}

.callout-icon {
	height: 64px;
	margin-bottom: 16px;
}

.challenge {
	font-family: 'Proxima Bold', sans-serif;
}

.project-img {
	width: 100%;
	/*height: auto;*/
	/*margin-bottom: 16px;*/
	/*pointer-events: none;*/
	/*border-radius: 12px;*/
}

.gap-sm {
	padding-bottom: 16px;
}

.gap-sm h3 {
	/*margin: 0;*/
}

.gap-sm p {
	margin: 0;
}

.caption {
	font-size: 16px;
	text-align: center;
	/*margin-bottom: 16px!important;*/
}

.hmw {
	padding: 24px;
	/*margin-top: 8px;*/
	/*margin-bottom: 16px;*/
}

.hmw p {
	font-size: 17px;
	text-align: center;
	margin: 0;
}

.hmw span {
	font-family: "Proxima Bold", Ariel, sans-serif;
}

.project-navigation-col {
	display: flex;
	flex-flow: column;
	/*justify-content: space-between;*/
}

.project-navigation-button {
	/*width: 500px;*/
	width: 100%;
	aspect-ratio: 16 / 9;
	/*height: 185px;*/
	position: relative;
	overflow: hidden;
	/*opacity: 1;*/
}

#previous-project-label:hover #left-arrow {
	transform: translate(-10px, 0);
}

#next-project-label:hover #right-arrow {
	transform: translate(10px, 0);
	/*cursor: pointer;*/
}

.navigation-button-label {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 16px 0 16px;
	gap: 16px;
	text-align: center;
}

.navigation-direction {
	font-family: "Proxima Bold", Ariel, sans-serif;
	font-size: 16px;
	margin: 0;
}

.project-navigation-name {
	font-family: "Proxima Bold", Ariel, sans-serif;
	font-size: 24px;
	margin: 0;
}

.direction-img {
	width: 32px;
	transition: 0.2s;
}

.project-navigation-img {
	width: 100%;
	height: 100%;
	filter: blur(5px);
	/*transform: scale(1.2);*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*#ending-message {
	font-size: 18px;
	font-style: italic;
	color: gray;
	text-align: center;
	margin-top: 35px;
}
*/
.process-timeline {
	list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row;
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    /*margin-bottom: 0;*/
}

.process-step {
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	width: auto;
	min-width: 210px;
	gap: 12px;
}

.step-num {
	font-family: "Proxima Bold", Ariel, sans-serif;
	width: 40px;
	height: 40px;
	border-radius: 9999px;
	font-size: 18px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.step-detail {

}

.step-detail h4 {
	height: 40px;
	font-size: 20px;
	display: flex;
	align-items: center;
	margin: 0;
}

.step-detail ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    font-size: 16px;
}

.step-detail li {
	font-family: 'Proxima Reg', sans-serif;
	font-size: 16px;
	margin: 0;
}

#email-span {
	font-family: 'Proxima Bold', sans-serif;
    transition: 0.2s;
    text-decoration: underline;
}

#email-span:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media (min-width: 767px) {
	.project-background {
		background-position: 50% 50%;
		height: 320px!important;
		/*aspect-ratio: 2 / 1;*/
	}

	.points-row {
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: flex-start;
	}

	.caption {
	}

	.project-navigation-col {
		flex-flow: row;
	}
	
	.process-step {
		flex-flow: row;
		min-width: 160px;
	}

	.step-num {
		/*margin-bottom: 20px;*/
	}

	.step-detail {
	}
}

@media (min-width: 991px) {
	.project-landing-section {
		padding-top: 115px;
	}

	.project-background {	
		height: 400px!important;
		/*aspect-ratio: 4 / 1;*/

	}

	.callout-list {
		flex-direction: row;
		/*flex-wrap: nowrap;*/
	}

	.navigation-direction {
		font-size: 18px;
	}

	.project-navigation-name {
		font-size: 32px;
	}

	.process-step {
		min-width: 0;
		max-width: 20%;
	}

}

@media (min-width: 1441px) {

}