@font-face {
	font-family: "Proxima Reg";
	src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family: "Proxima Bold";
	src: url("../fonts/Proxima Nova Bold.otf");
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Reg', sans-serif;
	/*font-size: 20px;*/
	background-color: #f8f9fa;
}

a {
	text-decoration: none!important;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

p {
	font-size: 20px;
}

.current-page {
	text-decoration: underline!important;
}

.nav-color {
	background-color: transparent!important;
}

.navbar-icon {
	outline: none!important;
	border: none!important;
	margin: 20.5px 0px 20.5px 0px;
	transition: 0.2s;
	transform: scale(1.1);
}

.navbar-icon:hover {
	transform: scale(1.2);
}

.nav-a {
	font-family: "Proxima Reg", sans-serif;
	padding: 10px 0px 10px 0px;
	font-size: 20px;
	transition: 0.2s;
}

.nav-a:hover {
	color: #6392cc!important;
}

.nav-h1 {
	font-family: "Proxima Bold", Ariel, sans-serif;
}

.navColor {
	background-color: #dbab45!important;
}

#logo-div {
	width: 50px;
	transition: 0.2s;
	margin: 6px 0px 6px 10px;
}

#logo-div:hover {
	opacity: 0.7;
}

#main-logo {
	width: 100%;
}

.nav-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	/*padding: 0!important;*/
}

.general-row-space {
	margin-top: 20px;
	margin-bottom: 20px;
}

.specific-row-space {
	margin-top: 120px;
	/*margin-bottom: 20px;*/
}

#project-title {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
}

.project-background {
	background-image: url("../img/thalassaphobia-thumbnail.jpg");
	background-color: #f8f9fa;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 700px!important;
}

.text {
	flex-direction: column;
	align-items: left;
	display: flex;
	/*justify-content: center;*/
	padding-top: 20px;
	padding-bottom: 20px;
	/*background-color: orange;*/
	line-height: 1.7;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*text-align: center;*/
}

.bold {
	font-family: "Proxima Bold", Ariel, sans-serif;
	/*margin-bottom: 0;*/
}

.featured-image {
	width: 100%;
}

#video {
	width: 100%;
	height: 260px;
}

@media (min-width: 767px) {
	button {
		display: none;
	}
	a {

	}

	.project-background {
		background-image: url("../img/thalassophobia-background.jpg");
		/*background-position: 50% 50%;*/
		/*background-size: cover;*/
		/*height: 700px!important;*/
	}

	#navbarToggleExternalContent {
		display: block;
		flex-grow: 1;
	}
	.nav-list {
		width: 100%;
		height: 100%;
		align-items: center;
		flex-direction: row;
		justify-content: flex-end;
		/*text-align: right;*/
	}
	.nav-header {
		width: 100%;
		display: inline-flex;
	}
	.nav-a {
		font-family: "Proxima Bold", sans-serif;
		margin: 0px 17px 0px 17px;
		font-size: 18px;
	}

	.text {
		align-items: flex-start;
	}

	#video {
		width: 100%;
		height: 640px;
	}
	
}

