@font-face {
	font-family: "Proxima Thin";
	src: url("../fonts/Proxima Nova Thin.otf");
}

@font-face {
	font-family: "Proxima Reg";
	src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family: "Proxima Bold";
	src: url("../fonts/Proxima Nova Bold.otf");
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Reg', sans-serif;
	background-color: #f8f9fa;
}

a {
	text-decoration: none!important;
}

p {
	font-size: 30px;
}

/*#background-image {
	width: 100%;
	height: 100%;
	background-image: url(../img/designerbackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: fixed;
}*/

/*#page-front {
	background-color: #f8f9fa;
	position: relative;
}*/

.bold {
	font-family: "Proxima Bold", Ariel, sans-serif;
}

.reg {
	font-family: "Proxima Reg", Ariel, sans-serif;
}

.thin {
	font-family: "Proxima Thin", Ariel, sans-serif;
}

.page-row {
	padding-bottom: 50px;
}

.block {
	/*margin: 10px 0 30px 0;*/
	margin-bottom: 20px;
	/*padding: 0;*/
	/*display: flex;
	flex-flow: row;
	justify-content: center;*/
}

#resume-block {
	margin-top: 20px;
	/*display: flex;
	flex-flow: row;
	justify-content: center;*/
}

#designer-img-div {
	width: 100%;
}

#designer-img {
	width: 100%;
	height: 525px;
	object-fit: cover;

}

#hello {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
	font-size: 30px;
	color: #6392cc;
	/*margin-top: 5px;*/
	margin: 5px 0 0 0;
}

#name {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
	font-size: 44px;
	color: #162a51;
	margin-bottom: 20px;
}

.bio {
	/*font-family: "Proxima Reg", Ariel, sans-serif;*/
	font-size: 16px;
}

.resume-section {
	margin-top: 50px;
}

.resume-section-title {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
	font-size: 25px;
	margin-bottom: 20px;
}

.time {
	font-size: 14px;
	margin-bottom: 4px;
	color: #6392cc;
}

.title {
	font-size: 20px;
	margin-bottom: 5px;
}

.detail {
	font-size: 16px;
	/*line-height: 10px;*/
	/*margin: 0 0 0 10px;*/
}

.company-name {
	font-size: 15px;
	opacity: 0.7;
}

.portfolio-button {
	color: #162a51!important;
	border-color: #162a51!important;
}

.portfolio-button:hover {
	color: white!important;
	background-color: #162a51!important;
}

.tool-background {
	width: 100%;
	/*height: 550px;*/
	margin-bottom: 0;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 100%
	/*margin-bottom: 100px!important;*/
}

#tool-background {
	background-image: url(../img/designer-background-2.jpg);
	background-position: 52% 50%;
	/*margin-bottom: 100px!important;*/
}

/*#tech-tool-background {
	background-image: url(../img/drawbot-context-shot-1.jpg);
}*/

.tool-section {
	background-color: white;
	opacity: 0.95;
	padding: 60px 50px 60px 50px;
	/*margin: 10px 0 10px 0;*/
}

#design-tool-section {

}

#tech-tool-section {
	margin-top: 20px;
}

.tool-header {
	font-size: 25px;
}

.tool-li {
	margin-top: 3px;
	margin-bottom: 3px;
}

#page-container {
	/*margin-bottom: 100px;*/
}

@media (min-width: 767px) {
	button {
		display: none;
	}
	a {

	}

	#about-me-row {
		padding-top: 65px;
	}

	#hello {
		font-size: 29px;
	}

	#name {
		font-size: 38px;
	}

	#about-me-text {
		column-count: 2;
		column-gap: 35px;
	}

	#design-tool-section {
		margin: 30px 0 30px 0;
	}

	#tech-tool-section {
		margin: 30px 0 30px 0;
	}

	/*.tool-section {
		margin: 30px 0 30px 0;
	}*/
	
}

@media (min-width: 991px) {
	.block {
		margin-bottom: 0;
		/*margin-left: 10px;
		margin-right: 10px;*/

	}
	
	#hello {
		font-size: 34px;
	}

	#name {
		font-size: 42px;
	}

	.page-row {
		/*height: 798px;*/
		padding-bottom: 180px;
		/*padding: 125px 0 0 0;*/
		/*background-color: orange;*/
	}

	#designer-text-div {
		height: 100%;
		/*margin-left: 5px;*/
		margin-left: 15px;
		/*margin-right: 15px;*/
		display: flex;
		flex-flow: column;
		justify-content: center;
		/*align-items: center;*/
		/*background-color: orange;*/
	}

	.resume-section {
		margin-top: 0;
	}
}



