@font-face {
	font-family: "Proxima Thin";
	src: url("../fonts/Proxima Nova Thin.otf");
}

@font-face {
	font-family: "Proxima Reg";
	src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family: "Proxima Bold";
	src: url("../fonts/Proxima Nova Bold.otf");
}

html {
	width: 100%;
	/*height: 100%;*/
	margin: 0;
	/*font-family: 'Proxima Reg', sans-serif;*/
	background-color: #f8f9fa;
	/*display: block;*/
}

body {
	width: 100%;
	/*height: 100%;*/
	/*padding: 0 16px 0 16px;*/
	display: flex;
	flex-direction: column;
	background-color: #f8f9fa;
}

a {
	font-family: 'Proxima Reg', sans-serif;
	text-decoration: none!important;
}

h1, h2, h3, h4 {
	font-family: 'Proxima Bold', sans-serif;
}

p, li {
	font-family: 'Proxima Reg', sans-serif;
}

img {
	pointer-events: none;
}

.landing-section {
	/*height: 100%;*/
	min-height: 100vh;
	padding-top: 64px;
	display: flex;
	flex-flow: column;	
	justify-content: center;
	align-items: center;
}

/*.center-left {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.center {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}*/

/*.gap-x-small {
	gap: 8px;
}

.gap-small {
	gap: 12px;
}

.gap-xx-large {
	gap: 40px;
}*/

.adaptive-gap {
	padding-bottom: 0!important;
}

.gap-lg {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	gap: 64px;
	/*padding-top: 65px;*/
	padding-bottom: 64px
	/*min-height: 100vh;*/
}

.gap-md {
/*	display: flex;
	flex-flow: column;*/
	gap: 32px;
}

.gap-sm {
	gap: 24px;
}

.text-align-center {
	text-align: center;
}

.heading-eyebrow {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
	color: #6392cc;
	font-size: 24px;
	line-height: 1.4;
	margin: 0px;
}

.heading-primary {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
	font-size: 36px;
	line-height: 1.2;
	color: #162a51;
}

.heading-secondary {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
	font-size: 32px;
	line-height: 1.2;
	color: #162a51;
	/*margin: 0;*/
	/*margin-bottom: 24px;*/
}

.heading-tertiary {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
	font-size: 24px;
	/*line-height: 1.5;*/
	color: #162a51;
}

.heading-4 {
	font-size: 20px;
	color: #162a51;
}

.heading-eyebrow-sm {
	/*font-family: "Proxima Bold", Ariel, sans-serif;*/
	font-size: 16px;
	/*line-height: 1.5;*/
	color: #6392cc;
}

.body-text {
	font-size: 18px;
	line-height: 1.5;
	/*color: #162a51;*/
}

.margin-none {
	margin: 0;
}

.primary-btn-portfolio {
	font-family: 'Proxima Reg', sans-serif;
	background-color: #162a51;
	border-color: #162a51;
	/*font-size: 18px;*/
	border-radius: 9999px;
}

.primary-btn-portfolio:hover {
	background-color: #000612;
	border-color: #000612;
}

.primary-btn-portfolio:active {

}

/*.outline-primary-btn-portfolio {
	font-family: 'Proxima Reg', sans-serif;
	border-color: #162a51;
	color: #162a51;
}

.outline-primary-btn-portfolio:hover {
	background-color: #162a51;
	border-color: #162a51;
}*/

.tertiary-btn-portfolio {
	font-family: 'Proxima Reg', sans-serif;
	background-color: #F1F1F1;
	color: #162a51;
	border-color: #F1F1F1;
	border-radius: 9999px;
}

.tertiary-btn-portfolio:hover {
	background-color: #D6D6D6;
	color: #162a51;
	border-color: #D6D6D6;
}

.box-shadow {
	box-shadow: 5px 5px 18px #d4d4d4;
}

.rounded-img {
	border-radius: 12px;
}

@media (min-width: 767px) {
	html, body {
		/*overflow: hidden;*/
	}

	button {
		/*display: none;*/
	}

	a {

	}

	/*#designer-name {
		font-size: 55px!important;
	}*/

	/*.photo {
		width: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 100%;
	}*/

	.adaptive-gap {
		column-gap: 0;
	}

	.gap-lg {
		/*gap: 56px;*/
		/*padding-bottom: 64px*/
	}

	.landing-section {
		/*padding-top: 64px;*/
	}

/*	#projects-row {
		gap: 24px 0;
	}*/

	/*#archived-row {
		margin-bottom: 60px;
	}*/
}

@media (min-width: 991px) {
/*	.hero-col {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}

	#hero-photo {
		margin: 0;
		height: 100%;
		display: flex;
		width: 100%;
	}*/

/*	.photo {
		width: 100%;
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: 40% 50%;
	}*/

	.landing-section {
		flex-flow: row;	
		padding-top: 75px;
	}


	.gap-lg {
		gap: 104px;
		padding-bottom: 75px;
	}

	.gap-md {
		gap: 40px;
	}

	.adaptive-gap {
		column-gap: 0;
	}

	.heading-eyebrow {
		font-size: 32px;
	}

	.heading-primary {
		font-size: 40px;
		/*line-height: 1.2;*/
	}

	.heading-secondary {
		/*font-size: 32px;*/
		/*line-height: 1.2;*/
	}

	.column-2 {
		column-count: 2;
		column-gap: 24px;
	}
}

@media (min-width: 1441px) {
	.photo {
		/*background-size: 100%;*/
		/*background-color: red;*/
		background-position: 50% 60%;
		/*margin-bottom: 500px;*/
	}
}