.project-background {
	background-image: url("../img/arity-context-shot.png");
}

.step-num {
	background-color: #ffb057;
	color: white;
}

.project-color-text {
	color: #ffb057;
}

@media (min-width: 767px) {
	.project-background {
		/*background-image: url("../img/arity-background.jpg");*/
		/*background-position: 50% 50%;*/
		/*height: 700px!important;*/
		background-position: 50% 40%;
	}

	.research-section {
		padding: 0 50px 0 50px;
	}
	
}

@media (min-width: 991px) {
	.research-section {
		/*padding: 0;*/
	}
}

@media (min-width: 1441px) {
	
}