.project-background {
	background-image: url("../img/circle-for-roommates-thumbnail.jpg");
	background-color: #f8f9fa;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 5% 50%;
	height: 500px!important;
}

@media (min-width: 767px) {
	.project-background {
		background-image: url("../img/circle-for-roommates-background.jpg");
		background-position: 50% 50%;
		height: 700px!important;
	}
	
}

@media (min-width: 1441px) {
	.project-background {
		height: 900px!important;
	}
}