.project-background {
	background-image: url("../img/nuravel-context-shot.png");
}

.step-num {
	background-color: #825ab0;
	color: white;
}

.project-color-text {
	color: #825ab0;
}

.video-section {
	display: block;
	width: 100%;
	height: 300px;
	background-color: black;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

#video {
	width: 100%;
	height: 210px;
	background-color: black;
}

@media (min-width: 767px) {
	.project-background {
		/*background-image: url("../img/nuravel-context-shot.png");*/
		background-position: 50% 40%;
	}

	.research-section {
		/*padding: 0 50px 0 50px;*/
	}

	.video-section {
		height: 400px;
	}

	#video {
		/*width: 100%;*/
		height: 390px;
	}
	
}

@media (min-width: 991px) {
	.research-section {
		/*padding: 0 90px 0 90px;*/
	}

	.video-section {
		height: 470px;
	}

	#video {
		/*width: 100%;*/
		height: 420px;
	}
}

@media (min-width: 1441px) {
	
}